body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f2f2f2;
}

header {
    background-color: #6670de;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: large;
    font-family: cur;
    display: flex;
    position: sticky;
    top: 0px;

}
header section nav ul li{
    position: sticky;
}

/* h1 {
    margin-bottom: 10px;
} */

nav ul {
    list-style-type: none;
    position: relative;
    left: 49rem;
    top: 20px;
    
}

nav ul li {
    display: inline;
    margin-right: 18px;
    text-align: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}